arch:
- aarch64
- amd64
- armhf
- armv7
- i386
description: Use a Cloudflared tunnel (formerly Argo Tunnel) to remotely connect to
  Home Assistant without opening any ports
hassio_api: true
hassio_role: manager
image: ghcr.io/brenner-tobias/cloudflared/{arch}
init: false
name: Cloudflared
options:
  additional_hosts: []
  external_hostname: ''
  tunnel_name: homeassistant
schema:
  additional_hosts:
  - disableChunkedEncoding: bool?
    hostname: str
    service: str
  catch_all_service: str?
  external_hostname: str
  log_level: list(trace|debug|info|notice|warning|error|fatal)?
  nginx_proxy_manager: bool?
  quick_tunnel: bool?
  reset_cloudflared_files: bool?
  tunnel_name: str
slug: cloudflared
url: https://github.com/brenner-tobias/addon-cloudflared/
version: 0.4.1
